{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
  },
  "extends": "semistandard",
  "rules": {
    "no-control-regex": 0,
    "no-useless-escape": 0,
    "space-before-function-paren": [2, "never"]
  }
}