.git/*
.DS_Store

license
yarn.lock

.yarnclean
.eslintignore
.prettierignore
.npmignore
.gitignore
.gitattributes
.dockerignore
.editorconfig
.nyc_output

test/cases
examples/*.md
dist
build
coverage

*.tags
*.ico
*.html
*.log
*.svg
*.map
*.png
*.snap
*.ttf
*.sh
*.txt
*.yml